{{define "section_testimoni"}}
<section class="ftco-section testimony-section img" style="background-image: url(image/bg_5.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Testimony</span>
            <h2 class="mb-4">Happy Customer</h2>
        </div>
        </div>
        <div class="row ftco-animate justify-content-center">
        <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
            <div class="item">
                <div class="testimony-wrap text-center pb-5">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="fas fa-comments fa-4x"></i>
                    </span>
                    <div class="text p-3">
                        <p class="mb-4">Mudah sekali untuk booking tempat, pelayanan yang sempurna dengan hidangan yang mantap.</p>
                        <p class="name">Ikhfan Nur Ali</p>
                        <span class="position">Customer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap text-center pb-5">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="fas fa-comments fa-4x"></i>
                    </span>
                    <div class="text p-3">
                        <p class="mb-4">Booking udah gausah ke resto lain lagi cuman di maknyus resto yang recomended.</p>
                        <p class="name">Satrio</p>
                        <span class="position">Customer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap text-center pb-5">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="fas fa-comments fa-4x"></i>
                    </span>
                    <div class="text p-3">
                        <p class="mb-4">Web nya bagus banget dengan ui yang seperti ini jadi buat sarana promosi yang handal.</p>
                        <p class="name">Garden Arum</p>
                        <span class="position">Customer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap text-center pb-5">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="fas fa-comments fa-4x"></i>
                    </span>
                    <div class="text p-3">
                        <p class="mb-4">Suka banget sama tempat nya banyak spot buat foto, recomended bgt lah pokonya buat kaula muda.</p>
                        <p class="name">David Susanto</p>
                        <span class="position">Customer</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testimony-wrap text-center pb-5">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="fas fa-comments fa-4x"></i>
                    </span>
                    <div class="text p-3">
                        <p class="mb-4">Awal booking tempat disini ragu, tetapi karna pelayanan yg cepat jadi recomended lah.</p>
                        <p class="name">Kian Santang</p>
                        <span class="position">Customer</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{{end}}